---
name: Bandit

on: 
  push:
  pull_request:

jobs: 
  bandit:
    permissions:
      # for actions/checkout to fetch code
      contents: read
      # for github/codeql-action/upload-sarif to upload SARIF results
      security-events: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run Bandit Scan
        uses: shundor/python-bandit-scan@main
        with:
          path: "."
          level: low
          confidence: low
          exit_zero: true           
